input {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    }
.uk-navbar-container,uk-navbar-center, .ul-footer, li, a{
    color: black ;
    }
.footer, .footer-par{
        padding-top: 30px;
    }
.uk-navbar-container,uk-navbar-center, .ul-footer, li, a:hover{
        color: #B26E56;
    }
p{
        font-family: 'Poppins', sans-serif;
        color: black;
    }